<div class="container" xmlns:http="http://www.w3.org/1999/xhtml">

  <dog></dog>
  <div class="border tableAddEmployeePanel">
    <button (click)="open(content)" class="btn btn-md btn-outline-primary">
      <i class="fa fa-user"></i>Wprowadż zwierzątko
    </button>

    <div style=" float: right; margin: 0px; padding: 0px;">
      <mat-label style="color: white; padding-right: 10px;">Wyszukiwarka:</mat-label>
      <mat-form-field>
        <input class="SearchInTable" matInput (keyup)="applyFilter($event.target.value)"
               placeholder="Szukaj zwierzątka">
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Ksywka Column -->
      <ng-container matColumnDef="ksywka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ksywka</th>
        <td mat-cell *matCellDef="let row"> {{row.ksywka}}</td>
      </ng-container>

      <!-- Rodzaj Column -->
      <ng-container matColumnDef="rodzaj">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rodzaj</th>
        <td mat-cell *matCellDef="let row"> {{row.rodzaj}}</td>
      </ng-container>

      <!-- Rasa Column -->
      <ng-container matColumnDef="rasa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rasa</th>
        <td mat-cell *matCellDef="let row"> {{row.rasa}}</td>
      </ng-container>

      <!-- Data przyjecia Column -->
      <ng-container matColumnDef="dataPrzyjecia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data przyjecia</th>
        <td mat-cell *matCellDef="let row"> {{row.dataPrzyjecia}}</td>
      </ng-container>

      <!-- Opis Column -->
      <ng-container matColumnDef="opis">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis</th>
        <td mat-cell *matCellDef="let row"> {{row.opis}}</td>
      </ng-container>

      <!-- Action Column-->
      <ng-container matColumnDef="Action Buttons">

        <th mat-header-cell *matHeaderCellDef> Akcje</th>

        <td mat-cell *matCellDef="let row; let i = index">

          <button (click)="openDetails(contentDetails, row)"
                  class="btn btn-sm btn-info">
            <i class="fa fa-search"></i>Szczegóły
          </button>
          <button class="btn btn-sm btn-warning"
                  (click)="openEdit(contentEdit, row)">
            <i class="fa fa-edit"></i>Edytuj
          </button>
          <button class="btn btn-sm btn-danger"
                  (click)="openDelete(contentDelete, row)">
            <i class="fa fa-remove"></i>Usuń
          </button>
        </td>
      </ng-container>

      <!-- Save choosen pdf Collumn -->
      <ng-container matColumnDef="pdf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Raporty</th>
        <td mat-cell *matCellDef="let combobox">

          <form [formGroup]="reportsForm"
                (click)="showLogdOnChooseOptionInDropdown()"
                (ngSubmit)="downloadReportFromDropdown(clickedanimalRowInTable)">
            <div style="display: inline-flex">
              <select class="custom-select" formControlName="dropdownValue">
                <option hidden> ===</option>
                <option *ngFor="let filepath of reportDownloadUrlPath; let i = index">{{filepath.filename}}</option>
              </select>
              <button class="btn btn-primary" type="submit">
                <mat-icon mat-icon>get_app</mat-icon>
                Ściągnij
              </button>
            </div>
          </form>

        </td>
      </ng-container>

      <!-- Summary pdf Collumn -->
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Podsumowanie</th>
        <td mat-cell *matCellDef="let animal">
          <button class="btn btn-sm btn-success" style="cursor:pointer"
                  (click)="downloadPdf('http://localhost/api/animal/report/', 'Podsumowanie', animal);">
            <!--<mat-icon mat-list-icon>get_app</mat-icon>-->
            <i class="fa fa-save"></i>Pdf
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns; "
          (click)="onTableRowClicked(row)"
      >
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <div id="modal-basic-title" class="addEmplyeeBtn">Dodaj zwierzątko</div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="false">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="ksywka">Ksywka</label>
        <div class="input-group">
          <input id="ksywka" name="ksywka" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="rodzaj">Rodzaj</label>
        <div class="input-group">
          <input id="rodzaj" name="rodzaj" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="rasa">Rasa</label>
        <div class="input-group">
          <input id="rasa" name="rasa" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="dataPrzyjecia">Data przyjecia</label>
        <div class="input-group">
          <input id="dataPrzyjecia" name="dataPrzyjecia" class="form-control" ngModel>
        </div>
        <label for="opis">Opis</label>
        <div class="input-group">
          <input id="opis" name="opis" class="form-control" ngModel>
        </div>
      </div>


      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Dodaj</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Anuluj</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dane na temat zwierzęcia</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="ksywka">Ksywka</label>
        <div class="input-group">
          <input readonly id="fksywka" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="rodzaj">Rodzaj</label>
        <div class="input-group">
          <input readonly id="frodzaj" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="rasa">Rasa</label>
        <div class="input-group">
          <input readonly id="frasa" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>Data przyjęcia</label>
        <div class="input-group">
          <input readonly id="fdataPrzyjecia" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>Opis</label>
        <div class="input-group">
          <input readonly id="fopis" class="form-control">
        </div>
      </div>

      <button type="button" class="btn btn-outline-dark" style="float: right" (click)="modal.close('Save click')">
        Wyjdż
      </button>
    </form>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-edit">Aktualizacja danych zwierzątek</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>

      <div class="form-group">
        <label>Id</label>
        <div class="input-group">
          <input formControlName="id" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="ksywka">Ksywka</label>
        <div class="input-group">
          <input formControlName="ksywka" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="rodzaj">Rodzaj</label>
        <div class="input-group">
          <input formControlName="rodzaj" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="rasa">Rasa</label>
        <div class="input-group">
          <input formControlName="rasa" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="dataPrzyjecia">Data przyjęcia</label>
        <div class="input-group">
          <input formControlName="dataPrzyjecia" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="opis">Opis</label>
        <div class="input-group">
          <input formControlName="opis" class="form-control">
        </div>
      </div>

      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Zapisz zmiany</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Anuluj</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Komunikat</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Czy napewno chcesz usunąć ten wpis?</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Tak. Usuń</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Nie</button>
    </div>
  </div>
</ng-template>


