<div class="container" xmlns:http="http://www.w3.org/1999/xhtml">


  <div class="border tableAddEmployeePanel">
    <button (click)="open(content)" class="btn btn-md btn-outline-primary">
      <i class="fa fa-user"></i>Dodaj lekarza
    </button>

    <div style=" float: right; margin: 0px; padding: 0px;">
      <mat-label style="color: white; padding-right: 10px;">Wyszukiwarka:</mat-label>
      <mat-form-field>
        <input class="SearchInTable" matInput (keyup)="applyFilter($event.target.value)" placeholder="Znajdz lekarza">
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię</th>
        <td mat-cell *matCellDef="let row"> {{row.firstname}}</td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko</th>
        <td mat-cell *matCellDef="let row"> {{row.lastname}}</td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dział</th>
        <td mat-cell *matCellDef="let row"> {{row.department}}</td>
      </ng-container>

      <!-- Numberphone Column -->
      <ng-container matColumnDef="numberphone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nr tel.</th>
        <td mat-cell *matCellDef="let row"> {{row.numberphone}}</td>
      </ng-container>

      <!-- E-mail Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail</th>
        <td mat-cell *matCellDef="let row"> {{row.email}}</td>
      </ng-container>

      <!-- Action Column-->
      <ng-container matColumnDef="Action Buttons">

        <th mat-header-cell *matHeaderCellDef> Akcje</th>

        <td mat-cell *matCellDef="let row; let i = index">

          <button (click)="openDetails(contentDetails, row)"
                  class="btn btn-sm btn-info">
            <i class="fa fa-search"></i>Szczegóły
          </button>
          <button class="btn btn-sm btn-warning"
                  (click)="openEdit(contentEdit, row)">
            <i class="fa fa-edit"></i>Edytuj
          </button>
          <button class="btn btn-sm btn-danger"
                  (click)="openDelete(contentDelete, row)">
            <i class="fa fa-remove"></i>Usuń
          </button>
        </td>
      </ng-container>

      <!-- Save choosen pdf Collumn -->
      <ng-container matColumnDef="pdf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Raporty</th>
        <td mat-cell *matCellDef="let combobox">

          <form [formGroup]="reportsForm"
                (click)="showLogdOnChooseOptionInDropdown()"
                (ngSubmit)="downloadReportFromDropdown(clickedEmployeeRowInTable)">
            <div style="display: inline-flex">
              <select class="custom-select" formControlName="dropdownValue">
                <option hidden> ===</option>
                <option *ngFor="let filepath of reportDownloadUrlPath; let i = index">
                  {{filepath.filename}}
                </option>
              </select>
              <button class="btn btn-primary" type="submit">
                <mat-icon mat-icon>get_app</mat-icon>
                Ściągnij
                <!-- {{reportsForm.value.dropdownValue}}-->
              </button>
            </div>
          </form>

        </td>
      </ng-container>

      <!-- Summary pdf Collumn -->
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Faktura</th>
        <td mat-cell *matCellDef="let employee">
          <button class="btn btn-sm btn-success" style="cursor:pointer"
                  (click)="downloadPdf('http://localhost/employee/report/', 'Faktura', employee);">
            <!--<mat-icon mat-list-icon>get_app</mat-icon>-->
            <i class="fa fa-save"></i>Faktura
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns; "
          (click)="onTableRowClicked(row)"
      >
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <div id="modal-basic-title" class="addEmplyeeBtn">Dodaj pracownika</div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="false">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="firstname">Imię</label>
        <div class="input-group">
          <input id="firstname" name="firstname" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Nazwisko</label>
        <div class="input-group">
          <input id="lastname" name="lastname" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="departament">Dział</label>
        <div class="input-group">
          <input id="departament" name="department" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <div class="input-group">
          <input id="email" name="email" class="form-control" ngModel>
        </div>
        <label for="numberphone">Nr. tel</label>
        <div class="input-group">
          <input id="numberphone" name="numberphone" class="form-control" ngModel>
        </div>
      </div>

      <!--          <div class="form-group">
                  <label for="">Data umowy</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Nazwa firmy</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Imię właściciela firmy</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Nazwisko właściciela firmy</label>
                  <div class="input-group">
                    <input id="" name="surnameCompanyOwner" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Adres zamieszkania</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Data rozpoczęcia umowy</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Data zakończenia umowy</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Data podpisania dokumentu</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Rodzaj pracy</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Miejsce pracy</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Liczba etatu</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Wynagrodzenie</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Dzień rozpoczęcia pracy</label>
                  <div class="input-group">
                    <input id="" name="" class="form-control">
                  </div>
                </div>-->
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Zapisz</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Anuluj</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dane na temat pracownika</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="firstname">Imię</label>
        <div class="input-group">
          <input readonly id="fname" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Nazwisko</label>
        <div class="input-group">
          <input readonly id="lname" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="dept">Dział</label>
        <div class="input-group">
          <input readonly id="dept" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>Nr kom.</label>
        <div class="input-group">
          <input readonly id="cntry" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>E-mail</label>
        <div class="input-group">
          <input readonly id="email2" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="fcontractDate">Data umowy</label>
        <div class="input-group">
          <input readonly id="fcontractDate" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="companyName">Nazwa firmy</label>
        <div class="input-group">
          <input readonly id="fcompanyName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="nameCompanyOwner">Imię właściciela firmy</label>
        <div class="input-group">
          <input readonly id="fnameCompanyOwner" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="surnameCompanyOwner">Nazwisko właściciela firmy</label>
        <div class="input-group">
          <input readonly id="fsurnameCompanyOwner" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="homeAdress">Adres zamieszkania</label>
        <div class="input-group">
          <input readonly id="fhomeAdress" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="startWork">Data rozpoczęcia umowy</label>
        <div class="input-group">
          <input readonly id="fstartWork" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="endWork">Data zakończenia umowy</label>
        <div class="input-group">
          <input readonly id="fendWork" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="dateDocumentSigned">Data podpisania dokumentu</label>
        <div class="input-group">
          <input readonly id="fdateDocumentSigned" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="kindOfWork">Rodzaj pracy</label>
        <div class="input-group">
          <input readonly id="fkindOfWork" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="placeOfWork">Miejsce pracy</label>
        <div class="input-group">
          <input readonly id="fplaceOfWork" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="workingHours">Liczba etatu</label>
        <div class="input-group">
          <input readonly id="fworkingHours" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="salary">Wynagrodzenie</label>
        <div class="input-group">
          <input readonly id="fsalary" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="dateToStartWork">Dzień rozpoczęcia pracy</label>
        <div class="input-group">
          <input readonly id="fdateToStartWork" class="form-control">
        </div>
      </div>

      <button type="button" class="btn btn-outline-dark" style="float: right" (click)="modal.close('Save click')">
        Wyjdż
      </button>
    </form>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-edit">Aktualizacja danych pracownika</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>

      <div class="form-group">
        <label>Id</label>
        <div class="input-group">
          <input formControlName="id" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="firstname">Imię</label>
        <div class="input-group">
          <input formControlName="firstname" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Nazwisko</label>
        <div class="input-group">
          <input formControlName="lastname" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="department">Dział</label>
        <div class="input-group">
          <input formControlName="department" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="numberphone">Nr kom.</label>
        <div class="input-group">
          <input formControlName="numberphone" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <div class="input-group">
          <input formControlName="email" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="fdate">Data umowy</label>
        <div class="input-group">
          <input id="fdate" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="companyName">Nazwa firmy</label>
        <div class="input-group">
          <input id="companyName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="nameCompanyOwner">Imię właściciela firmy</label>
        <div class="input-group">
          <input id="nameCompanyOwner" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="surnameCompanyOwner">Nazwisko właściciela firmy</label>
        <div class="input-group">
          <input id="surnameCompanyOwner" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="homeAdress">Adres zamieszkania</label>
        <div class="input-group">
          <input id="homeAdress" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="startWork">Data rozpoczęcia umowy</label>
        <div class="input-group">
          <input id="startWork" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="endWork">Data zakończenia umowy</label>
        <div class="input-group">
          <input id="endWork" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="dateDocumentSigned">Data podpisania dokumentu</label>
        <div class="input-group">
          <input id="dateDocumentSigned" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="kindOfWork">Rodzaj pracy</label>
        <div class="input-group">
          <input id="kindOfWork" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="placeOfWork">Miejsce pracy</label>
        <div class="input-group">
          <input id="placeOfWork" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="workingHours">Liczba etatu</label>
        <div class="input-group">
          <input id="workingHours" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="salary">Wynagrodzenie</label>
        <div class="input-group">
          <input id="salary" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="dateToStartWork">Dzień rozpoczęcia pracy</label>
        <div class="input-group">
          <input id="dateToStartWork" class="form-control">
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Zapisz zmiany</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Anuluj</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Komunikat</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Czy napewno chcesz usunąć ten wpis?</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Tak. Usuń</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Nie</button>
    </div>
  </div>
</ng-template>


