<style>
  p {
    text-align:center;
  }
  h4 {
    text-align:center;
  }
</style>
<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>

    <img src="https://i.ibb.co/wz6V3c7/petclinic-logo.jpg" width="100px" height="100px" alt="petclinic-logo" border="0" />

    <h4>Projekt rekrutacyjny Java - Wojtek Sasiela</h4> <br>

    <div id="project_description" style="padding:3rem; background-color:LightGray; margin-bottom:3rem;">
      <h4>Opis aplikacji</h4> <br>
      <br>
      <b>What?</b><br>
      Aplikacja dla weterynarii bądż schronisk dla zwierząt służąca do wprowadzania danych na temat <br>
      * Przyjmowanych zwierzątek (tj. opis objaw chorób, przypisane leki i inne informacje) <br>
      * Zatrudnionych lekarzy (tj, dane osobowe, przypisanie opieki nad danym zwierzątkiem, użyte przez pracownika leki itp). <br>
      Celem projektu jest geberowanie uzupełnionych raportów, diagnoz, zaświadczeń i innych dokumentów w formacie pdf. <br>
      <br>
      <b>Why?</b> <br>
      Projekt tworzony w Angularze i Javie, pisany w wolnym czasie w ramach hobby. <br>
      Rozwijajac go zdobywam coraz większe doświadczenie podczas tworzenia kolejnych funkcjonalności. <br>
      <br>
      <b>Who/Whom?</b> <br>
      Dlatego też projekt ten traktuję jako projekt rekrutacyjny na stanowisko Java Developer :)
      <br>
    </div>

    <div id="project_features" style="padding:3rem; background-color:LightGreen; ">
      <h4>Features:</h4><br>
      <br>
      <b>Frontend:</b><br>
      * Registration and login process <br>
      * User dashboard <br>
      * Read/Create/Update/Delete data for Animals and Emplyees in Angular FormModals <br>
      * Seaching data in search box <br>
      * Generate filled raports, documents and downloading as pdf <br>
      <br>
      <b>Backend:</b> <br>
      * JWT Auth <br>
      * Read/Create/Update/Delete REST API <br>
      * H2 & Maria Database (default H2 database) <br>
      * Logger? <br>
      * Microservices <br>
      * Docker/Docker-compose <br>
      * Eureka (ServiceDiscovery) <br>
      * Kafka (only consumer and producer) <br>
      * Spock (DDD Testing) <br>
      * Cypress (E2E Testing) <br>
    </div>
  </header>
  <p><b>Potencialny wygląd strony głównej:</b></p> <br>
  <img src="https://i.ibb.co/hdwQqXR/index-html.jpg" width="100%" height="100%" alt="index-html" border="0" /> <br>
</div>
