<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">PetClinic</h1>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="''" class="toolbarButton"> Panel </a>
    <a mat-button [routerLink]="'/employee'" class="toolbarButton"> Lekarze </a>
    <a mat-button [routerLink]="'/animal'" class="toolbarButton"> Zwierzątka </a>
  </div>

  <span style="flex: 1 1 auto;"></span>
  <!--  [Imię i nazwisko lekarza]-->
  <!--  Wyloguj-->
</mat-toolbar>

<!--
  <mat-toolbar-row id="hideMe" style="background-color: #5433FF" >
  <span style="font-size: 12px; margin: auto; color: white;">
    Projekt rekrutacyjny Java. </span>
</mat-toolbar-row>
-->

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav *ngIf="router.url !== '/'"
               #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
               (mouseleave)="mouseleave()">
    <mat-nav-list *ngIf="
    router.url === '/employee/' ||
    router.url === '/ecp' ||
    router.url === '/grafik' ||
    router.url === '/urlopy' ||
    router.url === '/delegacje'">
      <mat-list-item routerLink="">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded || isShowing">Panel</span></mat-list-item>
      <mat-list-item routerLink="pracownicy">
        <mat-icon mat-list-icon>face</mat-icon>
        <span *ngIf="isExpanded || isShowing">Lekarze</span></mat-list-item>
      <mat-list-item routerLink="ecp">
        <mat-icon mat-list-icon>schedule</mat-icon>
        <span *ngIf="isExpanded || isShowing">Ecp</span></mat-list-item>
      <mat-list-item routerLink="grafik">
        <mat-icon mat-list-icon>assignment_ind</mat-icon>
        <span *ngIf="isExpanded || isShowing">Grafik</span></mat-list-item>
      <mat-list-item routerLink="urlopy">
        <mat-icon mat-list-icon>hotel</mat-icon>
        <span *ngIf="isExpanded || isShowing">Urlopy</span></mat-list-item>
      <mat-list-item routerLink="delegacje">
        <mat-icon mat-list-icon>commute</mat-icon>
        <span *ngIf="isExpanded || isShowing">Delegacje</span></mat-list-item>

      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Inne</span>
        <mat-icon mat-list-icon>weekend</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
          expand_more
        </mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">Element podmenu 1</a>
        <a mat-list-item href="...">Element podmenu 2</a>
        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Pod-podmenu</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">
            expand_more
          </mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
          <mat-list-item>Element pod-podmenu 1</mat-list-item>
          <mat-list-item>Element pod-podmenu 2</mat-list-item>
        </div>
      </div>
    </mat-nav-list>
    <mat-nav-list *ngIf="
    router.url === '/animal' ||
    router.url === '/zabiegi' ||
    router.url === '/leki' ||
    router.url === '/pomieszczenia'">
      <mat-list-item routerLink="">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded || isShowing">Panel</span></mat-list-item>
      <mat-list-item routerLink="/animal">
        <mat-icon mat-list-icon>face</mat-icon>
        <span *ngIf="isExpanded || isShowing">Zwierzątka</span></mat-list-item>
      <mat-list-item routerLink="zabiegi">
        <mat-icon mat-list-icon>person</mat-icon>
        <span *ngIf="isExpanded || isShowing">Zabiegi</span></mat-list-item>
      <mat-list-item routerLink="leki">
        <mat-icon mat-list-icon>schedule</mat-icon>
        <span *ngIf="isExpanded || isShowing">Leki</span></mat-list-item>
      <mat-list-item routerLink="pomieszczenia">
        <mat-icon mat-list-icon>business</mat-icon>
        <span *ngIf="isExpanded || isShowing">Pomieszczenia</span></mat-list-item>

      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Inne</span>
        <mat-icon mat-list-icon>weekend</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
          expand_more
        </mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">Element podmenu 1</a>
        <a mat-list-item href="...">Element podmenu 2</a>
        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Pod-podmenu</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">
            expand_more
          </mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
          <mat-list-item>Element pod-podmenu 1</mat-list-item>
          <mat-list-item>Element pod-podmenu 2</mat-list-item>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
